In [62]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn import linear_model
import math
from scipy import stats
from numpy.random import normal

In [63]:
import codecs
machine = codecs.open('/Users/felixley/Ironhack/Data_Analytics_Course/Week8/Day2/lab-t-tests-p-values/files_for_lab/machine.txt', 'r', 'utf-16')
students = codecs.open('/Users/felixley/Ironhack/Data_Analytics_Course/Week8/Day2/lab-t-tests-p-values/files_for_lab/student_gpa.txt', 'r', 'utf-8')

In [64]:
machine = pd.read_csv(machine, sep = '\t')

In [65]:
machine

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [66]:
students = pd.read_csv(students, sep = '\t')

In [67]:
students

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

# Machine

In [81]:
machine.columns = ['new_machine', 'old_machine']

In [82]:
np.var(machine['new_machine'])

0.4204000000000012

In [83]:
avg_new_machine = np.mean(machine['new_machine'])
avg_old_machine = np.mean(machine['old_machine'])

In [84]:
sample_mean1 = avg_new_machine
sample_std1 = np.std(machine['new_machine'])
n1 = 10
sample_mean2 = avg_old_machine
sample_std2 = np.std(machine['old_machine'])
n2 = 10

pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.5809955894645813

In [85]:
from scipy.stats import t

print("P value is: ", t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.05, n1+n2-2)) #alpha is 0.05

P value is:  0.0010677934016937686
Critical Value of z is:  -1.734063606617536

In [86]:
# reject the hypothesis -> New machine would be faster

# Students

In [87]:
students.columns = ['sophomores', 'juniors']

In [88]:
avg_sophomores = np.mean(students['sophomores'])
avg_juniors = np.mean(students['juniors'])

In [90]:
sample_mean1 = avg_sophomores
sample_std1 = np.std(students['sophomores'])
n1 = 17
sample_mean2 = avg_juniors
sample_std2 = np.std(students['juniors'])
n2 = 13

pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -0.892728724944096

In [91]:
print("P value is: ", t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.05, n1+n2-2)) #alpha is 0.05

P value is:  0.1898055682937536
Critical Value of z is:  -1.7011309342659315

In [96]:
# We are not rejecting the Null hypothesis